unitsml/v0.9/unitsml-0.9.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Units Markup Language (UnitsML) Schema
    Website: http://unitsml.nist.gov
    Version History: http://unitsml.nist.gov/Schema/schema_changes.txt
-->
<!-- ===== Copyright Notice ===== -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9" targetNamespace="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9">
	<!-- ===== Root Element ===== -->
	<xsd:element name="UnitsML" type="UnitsMLType">
		<xsd:annotation>
			<xsd:documentation>Schema for units repository submission</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnitsMLType">
		<xsd:sequence>
			<xsd:element ref="UnitSet" minOccurs="0"/>
			<xsd:element ref="PrefixSet" minOccurs="0"/>
			<xsd:element ref="QuantitySet" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ===== Element Declarations ===== -->
	<xsd:element name="ConversionFactor" type="ConversionFactorType"/>
	<xsd:element name="Definition" type="DefinitionType"/>
	<xsd:element name="Dimension" type="DimensionType"/>
	<xsd:element name="History" type="HistoryType"/>
	<xsd:element name="Prefix" type="PrefixType"/>
	<xsd:element name="PrefixName" type="NameType"/>
	<xsd:element name="PrefixSet" type="PrefixSetType"/>
	<xsd:element name="Quantity" type="QuantityType"/>
	<xsd:element name="QuantityName" type="NameType"/>
	<xsd:element name="QuantityReference" type="QuantityReferenceType"/>
	<xsd:element name="QuantitySet" type="QuantitySetType"/>
	<xsd:element name="Remark" type="RemarkType"/>
	<xsd:element name="Representation" type="RepresentationType"/>
	<xsd:element name="System" type="SystemType"/>
	<xsd:element name="Symbol" type="SymbolType"/>
	<xsd:element name="Unit" type="UnitType"/>
	<xsd:element name="UnitName" type="NameType"/>
	<xsd:element name="UnitRepresentation" type="UnitRepresentationType"/>
	<xsd:element name="UnitSet" type="UnitSetType"/>
	<xsd:element name="Length" type="LengthType"/>
	<xsd:element name="Mass" type="MassType"/>
	<xsd:element name="Time" type="TimeType"/>
	<xsd:element name="ElectricCurrent" type="ElectricCurrentType"/>
	<xsd:element name="ThermoTemp" type="ThermoTempType"/>
	<xsd:element name="AmountSubstance" type="AmountSubstanceType"/>
	<xsd:element name="LuminousIntensity" type="LuminousIntensityType"/>
	<xsd:element name="UnitNote" type="NoteType"/>
	<xsd:element name="ConversionNote" type="NoteType"/>
	<!-- ===== Type Definitions ===== -->
	<xsd:complexType name="ConversionFactorType">
		<xsd:sequence>
			<xsd:element ref="ConversionNote" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="multiplicativeValue" type="xsd:string" use="required"/>
		<xsd:attribute name="additiveValue" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="DefinitionType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="source" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DimensionType">
		<xsd:sequence>
			<xsd:element ref="Length" minOccurs="0"/>
			<xsd:element ref="Mass" minOccurs="0"/>
			<xsd:element ref="Time" minOccurs="0"/>
			<xsd:element ref="ElectricCurrent" minOccurs="0"/>
			<xsd:element ref="ThermoTemp" minOccurs="0"/>
			<xsd:element ref="AmountSubstance" minOccurs="0"/>
			<xsd:element ref="LuminousIntensity" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NoteType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="L"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MassType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="M"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TimeType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="T"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricCurrentType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="I"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ThermoTempType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="Θ"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AmountSubstanceType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="N"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LuminousIntensityType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="J"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="HistoryType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="source" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="lang" type="xsd:language" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PrefixType">
		<xsd:sequence>
			<xsd:element ref="PrefixName" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="prefixID" type="xsd:ID" use="required"/>
		<xsd:attribute name="asciiSymbol" type="ASCIISymbolType" use="required"/>
		<xsd:attribute name="system" use="required">
			<!-- REVISE -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="SI"/>
					<xsd:enumeration value="binary"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="base" use="required">
			<!-- REVISE -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:byte">
					<xsd:enumeration value="10"/>
					<xsd:enumeration value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="power" use="required">
			<!-- REVISE -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:byte">
					<xsd:minInclusive value="-24"/>
					<xsd:maxInclusive value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute name="prefixSymbolReference" type="xsd:string" use="optional"/>
		<!-- formerly  prefixSymRef -->
	</xsd:complexType>
	<xsd:complexType name="PrefixSetType">
		<xsd:sequence>
			<xsd:element ref="Prefix" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantityType">
		<xsd:sequence>
			<xsd:element ref="QuantityName" maxOccurs="unbounded"/>
			<xsd:element ref="Dimension"/>
			<xsd:element ref="Unit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="quantityID" type="xsd:ID" use="required"/>
		<xsd:attribute name="asciiSymbol" type="xsd:token" use="optional"/>
		<xsd:attribute name="quantSymRef" type="xsd:string" use="optional"/>
		<xsd:attribute name="type" use="required">
			<!-- REVISE -->
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="base"/>
					<xsd:enumeration value="derived"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantityReferenceType">
		<xsd:attribute name="reference" type="xsd:string" use="required"/>
		<xsd:attribute name="name" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="QuantitySetType">
		<xsd:sequence>
			<xsd:element ref="Quantity" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemarkType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional"/>
				<xsd:attribute name="source" type="xsd:string" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RepresentationType">
		<xsd:sequence>
			<xsd:element ref="ConversionFactor" minOccurs="0"/>
			<xsd:element ref="UnitRepresentation" maxOccurs="unbounded"/>
			<!-- formerly units under Representation >> units -->
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:byte" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SystemType">
		<xsd:attribute name="name" type="xsd:token" use="optional"/>
		<xsd:attribute name="type" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SymbolType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:enumeration value="ASCII"/>
							<xsd:enumeration value="HTML"/>
							<xsd:enumeration value="MathML"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UnitType">
		<xsd:sequence>
			<xsd:element ref="System" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" maxOccurs="unbounded"/>
			<xsd:element ref="UnitName" maxOccurs="unbounded"/>
			<xsd:element ref="UnitNote" minOccurs="0"/>
			<xsd:element ref="Representation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QuantityReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Definition" minOccurs="0"/>
			<xsd:element ref="History" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Remark" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="numericID" type="xsd:string" use="optional"/>
		<xsd:attribute name="symbolicID" type="xsd:string" use="optional"/>
		<xsd:attribute name="prefixSymbol" type="xsd:string" use="optional"/>
		<xsd:attribute name="powerNumerator" type="xsd:byte" use="optional"/>
		<xsd:attribute name="powerDenominator" type="xsd:byte" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="UnitRepresentationType">
		<xsd:attribute name="prefixReference" type="xsd:string" use="optional"/>
		<xsd:attribute name="unitReference" type="xsd:string" use="required"/>
		<xsd:attribute name="powerNumerator" type="xsd:byte" use="optional"/>
		<xsd:attribute name="powerDenominator" type="xsd:byte" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="UnitSetType">
		<xsd:sequence>
			<xsd:element ref="Unit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ASCIISymbolType">
		<xsd:restriction base="xsd:token">
			<xsd:maxLength value="2"/>
			<xsd:minLength value="1"/>
			<xsd:enumeration value="Y"/>
			<xsd:enumeration value="Z"/>
			<xsd:enumeration value="E"/>
			<xsd:enumeration value="P"/>
			<xsd:enumeration value="T"/>
			<xsd:enumeration value="G"/>
			<xsd:enumeration value="M"/>
			<xsd:enumeration value="k"/>
			<xsd:enumeration value="h"/>
			<xsd:enumeration value="da"/>
			<xsd:enumeration value="d"/>
			<xsd:enumeration value="c"/>
			<xsd:enumeration value="m"/>
			<xsd:enumeration value="µ"/>
			<xsd:enumeration value="n"/>
			<xsd:enumeration value="p"/>
			<xsd:enumeration value="f"/>
			<xsd:enumeration value="a"/>
			<xsd:enumeration value="z"/>
			<xsd:enumeration value="y"/>
			<xsd:enumeration value="Ki"/>
			<xsd:enumeration value="Mi"/>
			<xsd:enumeration value="Gi"/>
			<xsd:enumeration value="Ti"/>
			<xsd:enumeration value="Pi"/>
			<xsd:enumeration value="Ei"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
