unitsml/v0.9/unitsml-0.9.7.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Bob Dragoset (NIST) -->
<!--
   Units Markup Language (UnitsML) Schema
    Website: http://unitsml.nist.gov
    Version History: http://unitsml.nist.gov/Schema/schema_changes.txt
-->
<xsd:schema xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.7" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.7" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9.7">
	<!--=== Root-Node of an UnitsML document ===-->
	<xsd:element name="UnitsML" type="UnitsMLType">
		<xsd:annotation>
			<xsd:documentation>Container for UnitsML units, quantities, and prefixes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnitsMLType">
		<xsd:annotation>
			<xsd:documentation>ComplexType for the root element of an UnitsML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="UnitSet" minOccurs="0"/>
			<xsd:element ref="QuantitySet" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--=== Global document elements ===-->
	<xsd:element name="Definition" type="DefinitionType">
		<xsd:annotation>
			<xsd:documentation>Element to describe the definition of the unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Dimension" type="DimensionType">
		<xsd:annotation>
			<xsd:documentation>Element to express the quantity in terms of the SI base quantities length, mass, time, electric current, thermodynamic temperature, amount of substance, and luminous intensity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="History" type="HistoryType">
		<xsd:annotation>
			<xsd:documentation>Element to describe the historical development of the unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Prefix" type="PrefixType">
		<xsd:annotation>
			<xsd:documentation>Element for describing a unit prefix.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrefixName" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Element containing the prefix name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Quantity" type="QuantityType">
		<xsd:annotation>
			<xsd:documentation>Element for describing quantities and referencing corresponding units. Use in container or directly incorporate into a host schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityName" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Element containing the quantity name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityReference" type="QuantityReferenceType">
		<xsd:annotation>
			<xsd:documentation>Element for all quantities that can be expressed using this unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantitySet" type="QuantitySetType">
		<xsd:annotation>
			<xsd:documentation>Container for quantities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Remark" type="RemarkType">
		<xsd:annotation>
			<xsd:documentation>Element as a placeholder for additional information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="System" type="SystemType">
		<xsd:annotation>
			<xsd:documentation>Container for describing the system of units.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Symbol" type="SymbolType">
		<xsd:annotation>
			<xsd:documentation>Element containing various unit symbols.  Examples include Aring (ASCII), Å (HTML).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Unit" type="UnitType">
		<xsd:annotation>
			<xsd:documentation>Element for describing units. Use in containers UnitSet, Quantity, or directly incorporate into a host schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitName" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Element containing the unit name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitSet" type="UnitSetType">
		<xsd:annotation>
			<xsd:documentation>Container for units. Use in UnitsML container or directly incorporate into a host schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Length" type="LengthType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity length.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Mass" type="MassType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity mass.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Time" type="TimeType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity time.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectricCurrent" type="ElectricCurrentType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity electric current.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ThermodynamicTemperature" type="ThermodynamicTemperatureType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity thermodynamic temerature.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmountSubstance" type="AmountSubstanceType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity amount of substance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LuminousIntensity" type="LuminousIntensityType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity luminous intensity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitNote" type="NoteType">
		<xsd:annotation>
			<xsd:documentation>Element for descriptive information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConversionNote" type="NoteType">
		<xsd:annotation>
			<xsd:documentation>Element for descriptive information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RootUnits" type="RootUnitsType">
		<xsd:annotation>
			<xsd:documentation>Container for defining derived units in terms of their root units. This allows a precise definition of a wide range of units. The goal is to improve interoperability among applications and databases which use derived units based on commonly encountered root units.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="EnumeratedRootUnit" type="EnumeratedRootUnitType">
		<xsd:annotation>
			<xsd:documentation>Element for a root unit (from an extensive enumerated list) allowing an optional prefix and power. E.g., mm^2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ExternalRootUnit" type="ExternalRootUnitType">
		<xsd:annotation>
			<xsd:documentation>Element for those special cases where the root unit needed is not included in the enumerated list in the above element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Conversions" type="ConversionsType">
		<xsd:annotation>
			<xsd:documentation>Container for providing conversion information to other units.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Float64ConversionFrom" type="Float64ConversionFromType">
		<xsd:annotation>
			<xsd:documentation>Element for providing factors for a conversion equation to another unit; y = d + ((b / c) (x + a))</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CodeListValues" type="CodeListValuesType">
		<xsd:annotation>
			<xsd:documentation>Container for listing unit code values from multiple code lists.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CodeListValue" type="CodeListValueType">
		<xsd:annotation>
			<xsd:documentation>Element for listing the unit code value from a specific code list.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitReference" type="UnitReferenceType">
		<xsd:annotation>
			<xsd:documentation>Element for referencing a unit of measure from within the Quantity element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SpecialConversion" type="SpecialConversionType"/>
	<xsd:element name="Description" type="NoteType"/>
	<!--=== Global document attributes ===-->
	<xsd:attribute name="powerNumerator" type="xsd:byte" default="1">
		<xsd:annotation>
			<xsd:documentation>An integer exponent of the unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="powerDenominator" type="xsd:byte" default="1">
		<xsd:annotation>
			<xsd:documentation>An integer value divided into the powerNumerator to create a non integer exponent of a unit.  For example 1/2.</xsd:documentation>
		</xsd:annotation>
	</xsd:attribute>
	<xsd:attribute name="prefix">
		<xsd:annotation>
			<xsd:documentation>Prefix identifier; e.g., m, k, M, G.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:token">
				<xsd:enumeration value="Y"/>
				<xsd:enumeration value="Z"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="T"/>
				<xsd:enumeration value="G"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="k"/>
				<xsd:enumeration value="h"/>
				<xsd:enumeration value="da"/>
				<xsd:enumeration value="d"/>
				<xsd:enumeration value="c"/>
				<xsd:enumeration value="m"/>
				<xsd:enumeration value="u"/>
				<xsd:enumeration value="n"/>
				<xsd:enumeration value="p"/>
				<xsd:enumeration value="f"/>
				<xsd:enumeration value="a"/>
				<xsd:enumeration value="z"/>
				<xsd:enumeration value="y"/>
				<xsd:enumeration value="Ki"/>
				<xsd:enumeration value="Mi"/>
				<xsd:enumeration value="Gi"/>
				<xsd:enumeration value="Ti"/>
				<xsd:enumeration value="Pi"/>
				<xsd:enumeration value="Ei"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:attribute>
	<!--=== Type definitions ===-->
	<xsd:complexType name="DefinitionType">
		<xsd:annotation>
			<xsd:documentation>Type for definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>URL for an online reference of the unit definition.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="source" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of the publication containing the unit definition.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lang" type="xsd:language">
					<xsd:annotation>
						<xsd:documentation>Primary language of the accompanying information.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DimensionType">
		<xsd:annotation>
			<xsd:documentation>Type for dimension.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Length" minOccurs="0"/>
			<xsd:element ref="Mass" minOccurs="0"/>
			<xsd:element ref="Time" minOccurs="0"/>
			<xsd:element ref="ElectricCurrent" minOccurs="0"/>
			<xsd:element ref="ThermodynamicTemperature" minOccurs="0"/>
			<xsd:element ref="AmountSubstance" minOccurs="0"/>
			<xsd:element ref="LuminousIntensity" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NoteType">
		<xsd:annotation>
			<xsd:documentation>Type for notes.  Used in units and conversion factors.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="lang" type="xsd:language">
					<xsd:annotation>
						<xsd:documentation>Language of the note or description.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity length.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="L">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity length.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MassType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity mass.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="M">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity mass.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TimeType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="T">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity time.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricCurrentType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity electric current.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="I">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity electric current.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ThermodynamicTemperatureType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity thermodynamic temperature.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="&#920;">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity thermodynamic temperature.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AmountSubstanceType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity amount of substance.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="N">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity amount of substance.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LuminousIntensityType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity luminous intensity.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="J">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity luminous intensity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="HistoryType">
		<xsd:annotation>
			<xsd:documentation>Type for history.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>URL for an online reference for the historical development of the unit definition.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="source" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of the publication containing the unit history.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lang" type="xsd:language">
					<xsd:annotation>
						<xsd:documentation>Primary language of the accompanying information.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>Type for name.  Used for names in units, quantities, and prefixes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="lang" type="xsd:language" use="required">
					<xsd:annotation>
						<xsd:documentation>Language of the containing name.  An example is en-US for American English.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PrefixType">
		<xsd:annotation>
			<xsd:documentation>Type for prefix.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PrefixName" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element containing various prefix symbols.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="prefixID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Alphanumeric ID of a prefix.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="prefixSystem" use="optional" default="SI">
			<xsd:annotation>
				<xsd:documentation>Name of the prefix system.  Either SI or binary.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="SI"/>
					<xsd:enumeration value="binary"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
		<xsd:attribute name="base" use="optional" default="10">
			<xsd:annotation>
				<xsd:documentation>Number system base. Either base 2 or 10 .</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:byte">
					<xsd:enumeration value="10"/>
					<xsd:enumeration value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
		<xsd:attribute name="power" use="required">
			<xsd:annotation>
				<xsd:documentation>An integer exponent which describes the factor of the prefix.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:byte">
					<xsd:minInclusive value="-24"/>
					<xsd:maxInclusive value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>Type for the quantity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="QuantityName" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element containing various quantity symbols.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Dimension"/>
			<xsd:element ref="UnitReference">
				<xsd:annotation>
					<xsd:documentation>Element for specifying a particular unit associated with the quantity.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="quantityID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Alphanumeric ID of a quantity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="quantityType" use="required">
			<xsd:annotation>
				<xsd:documentation>Type of the quantity.  For example base or derived.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="base"/>
					<xsd:enumeration value="derived"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantityReferenceType">
		<xsd:annotation>
			<xsd:documentation>Type for the quantity reference.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="quantityID" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>alphanumericID of the related quantity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>name of the related quantity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lang" type="xsd:language">
			<xsd:annotation>
				<xsd:documentation>Language of the quantity name.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantitySetType">
		<xsd:annotation>
			<xsd:documentation>Type for quantity container.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Quantity" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemarkType">
		<xsd:annotation>
			<xsd:documentation>Type for remark.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Relevant URL for on-line information.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="source" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of publication.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="lang" type="xsd:language">
					<xsd:annotation>
						<xsd:documentation>Primary language of the accompanying information.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SystemType">
		<xsd:annotation>
			<xsd:documentation>Type for unit system.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Name of the unit system.   For example, SI, inch-pound, CGS, and MKS.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Description of the unit relative to the unit system.  Examples are SI_base and non-SI_not_acceptable.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lang" type="xsd:language">
			<xsd:annotation>
				<xsd:documentation>Language of the system name and type.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SymbolType">
		<xsd:annotation>
			<xsd:documentation>Type for symbols.  Used in units, quantities, and prefixes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:annotation>
						<xsd:documentation>Type of symbol representation.  Examples include ASCII, HTML, and MathML.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:enumeration value="ASCII"/>
							<xsd:enumeration value="HTML"/>
							<xsd:enumeration value="MathML"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UnitType">
		<xsd:annotation>
			<xsd:documentation>Type for the unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="System" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="UnitName" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" maxOccurs="unbounded"/>
			<xsd:element ref="UnitNote" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Element for descriptive information including version changes to the unit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CodeListValues" minOccurs="0"/>
			<xsd:element ref="RootUnits" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Container for defining derived units in terms of their root units. This allows a precise definition of a wide range of units. The goal is to improve interoperability among applications and databases which use derived units based on commonly encountered root units.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Conversions" minOccurs="0"/>
			<xsd:element ref="QuantityReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Definition" minOccurs="0"/>
			<xsd:element ref="History" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Remark" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="timeStamp" type="xsd:dateTime">
			<xsd:annotation>
				<xsd:documentation>Used to indicate the version of the unit output from the Units Database. Changes in the time-stamp are made if a substantive change has been made to the unit, such as a change in the unit definition or changes in conversion factors.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="alphanumericID" type="xsd:token" use="optional">
			<xsd:annotation>
				<xsd:documentation>Alphanumeric ID of a unit. Although both alphanumericID and symbolicID are optional, it is intended that either one or both be specified so that each unit is uniquely identified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="symbolicID" type="xsd:token" use="optional">
			<xsd:annotation>
				<xsd:documentation>Symbolic id is a unique abbreviation of a unit.   Although both alphanumericID and symbolicID are optional, it is intended that either one or both be specified so that each unit is uniquely identified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="UnitSetType">
		<xsd:annotation>
			<xsd:documentation>Type for the unit container.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Unit" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element for describing units. Use in containers UnitSet or directly incorporate into a host schema.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RootUnitsType">
		<xsd:annotation>
			<xsd:documentation>Type for the container for defining derived units in terms of their root units. This allows a precise definition of a wide range of units. The goal is to improve interoperability among applications and databases which use derived units based on commonly encountered base units.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="EnumeratedRootUnit" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element for a root unit (from an extensive enumerated list) allowing an optional prefix and power. E.g., mm^2</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ExternalRootUnit" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element for those special cases where the root unit needed is not included in the enumerated list in the above element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EnumeratedRootUnitType">
		<xsd:annotation>
			<xsd:documentation>Type for the element for a root unit (from an extensive enumerated list) allowing an optional prefix and power. E.g., mm^2</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="unit" use="required">
			<xsd:annotation>
				<xsd:documentation>Unit identifier; the enumerated list is basically English unit names in lowercase, with a few upper case exceptions, e.g., 32F, mmHg, pH.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="meter"/>
					<xsd:enumeration value="gram"/>
					<xsd:enumeration value="second"/>
					<xsd:enumeration value="ampere"/>
					<xsd:enumeration value="kelvin"/>
					<xsd:enumeration value="mole"/>
					<xsd:enumeration value="candela"/>
					<xsd:enumeration value="radian"/>
					<xsd:enumeration value="steradian"/>
					<xsd:enumeration value="hertz"/>
					<xsd:enumeration value="newton"/>
					<xsd:enumeration value="pascal"/>
					<xsd:enumeration value="joule"/>
					<xsd:enumeration value="watt"/>
					<xsd:enumeration value="coulomb"/>
					<xsd:enumeration value="volt"/>
					<xsd:enumeration value="farad"/>
					<xsd:enumeration value="ohm"/>
					<xsd:enumeration value="siemens"/>
					<xsd:enumeration value="weber"/>
					<xsd:enumeration value="tesla"/>
					<xsd:enumeration value="henry"/>
					<xsd:enumeration value="celsius"/>
					<xsd:enumeration value="lumen"/>
					<xsd:enumeration value="lux"/>
					<xsd:enumeration value="katal"/>
					<xsd:enumeration value="becquerel"/>
					<xsd:enumeration value="gray"/>
					<xsd:enumeration value="sievert"/>
					<xsd:enumeration value="minute"/>
					<xsd:enumeration value="hour"/>
					<xsd:enumeration value="day"/>
					<xsd:enumeration value="arc_degree"/>
					<xsd:enumeration value="arc_minute"/>
					<xsd:enumeration value="arc_second"/>
					<xsd:enumeration value="liter"/>
					<xsd:enumeration value="metric_ton"/>
					<xsd:enumeration value="electron_volt"/>
					<xsd:enumeration value="atomic_unit_of_1st_hyperpolarizablity"/>
					<xsd:enumeration value="atomic_unit_of_2nd_hyperpolarizablity"/>
					<xsd:enumeration value="atomic_unit_of_action"/>
					<xsd:enumeration value="atomic_unit_of_charge"/>
					<xsd:enumeration value="atomic_unit_of_charge_density"/>
					<xsd:enumeration value="atomic_unit_of_current"/>
					<xsd:enumeration value="atomic_unit_of_electric_dipole_moment"/>
					<xsd:enumeration value="atomic_unit_of_electric_field"/>
					<xsd:enumeration value="atomic_unit_of_electric_field_gradient"/>
					<xsd:enumeration value="atomic_unit_of_electric_polarizablity"/>
					<xsd:enumeration value="atomic_unit_of_electric_potential"/>
					<xsd:enumeration value="atomic_unit_of_electric_quadrupole_moment"/>
					<xsd:enumeration value="atomic_unit_of_energy"/>
					<xsd:enumeration value="atomic_unit_of_force"/>
					<xsd:enumeration value="atomic_unit_of_length"/>
					<xsd:enumeration value="atomic_unit_of_magnetic_dipole_moment"/>
					<xsd:enumeration value="atomic_unit_of_magnetic_flux_density"/>
					<xsd:enumeration value="atomic_unit_of_magnetizability"/>
					<xsd:enumeration value="atomic_unit_of_mass"/>
					<xsd:enumeration value="atomic_unit_of_momentum"/>
					<xsd:enumeration value="atomic_unit_of_permittivity"/>
					<xsd:enumeration value="atomic_unit_of_time"/>
					<xsd:enumeration value="atomic_unit_of_velocity"/>
					<xsd:enumeration value="natural_unit_of_action"/>
					<xsd:enumeration value="natural_unit_of_action_in_eV_s"/>
					<xsd:enumeration value="natural_unit_of_energy"/>
					<xsd:enumeration value="natural_unit_of_energy_in_MeV"/>
					<xsd:enumeration value="natural_unit_of_length"/>
					<xsd:enumeration value="natural_unit_of_mass"/>
					<xsd:enumeration value="natural_unit_of_momentum"/>
					<xsd:enumeration value="natural_unit_of_momentum_in_MeV_per_c"/>
					<xsd:enumeration value="natural_unit_of_time"/>
					<xsd:enumeration value="natural_unit_of_velocity"/>
					<xsd:enumeration value="astronimical_unit"/>
					<xsd:enumeration value="nautical_mile"/>
					<xsd:enumeration value="KNT"/>
					<xsd:enumeration value="angstrom"/>
					<xsd:enumeration value="are"/>
					<xsd:enumeration value="hectare"/>
					<xsd:enumeration value="barn"/>
					<xsd:enumeration value="bar"/>
					<xsd:enumeration value="gal"/>
					<xsd:enumeration value="curie"/>
					<xsd:enumeration value="roentgen"/>
					<xsd:enumeration value="rad"/>
					<xsd:enumeration value="rem"/>
					<xsd:enumeration value="erg"/>
					<xsd:enumeration value="dyne"/>
					<xsd:enumeration value="barye"/>
					<xsd:enumeration value="poise"/>
					<xsd:enumeration value="rhe"/>
					<xsd:enumeration value="stoke"/>
					<xsd:enumeration value="darcy"/>
					<xsd:enumeration value="kayser"/>
					<xsd:enumeration value="lambert"/>
					<xsd:enumeration value="phot"/>
					<xsd:enumeration value="thermo_calorie"/>
					<xsd:enumeration value="table_calorie"/>
					<xsd:enumeration value="debye"/>
					<xsd:enumeration value="abampere"/>
					<xsd:enumeration value="abcoulomb"/>
					<xsd:enumeration value="abfarad"/>
					<xsd:enumeration value="abhenry"/>
					<xsd:enumeration value="abohm"/>
					<xsd:enumeration value="abmho"/>
					<xsd:enumeration value="abvolt"/>
					<xsd:enumeration value="abwatt"/>
					<xsd:enumeration value="maxwell"/>
					<xsd:enumeration value="gauss"/>
					<xsd:enumeration value="gilbert"/>
					<xsd:enumeration value="oersted"/>
					<xsd:enumeration value="stilb"/>
					<xsd:enumeration value="statampere"/>
					<xsd:enumeration value="statcoulomb"/>
					<xsd:enumeration value="statfarad"/>
					<xsd:enumeration value="stathenry"/>
					<xsd:enumeration value="statohm"/>
					<xsd:enumeration value="statmho"/>
					<xsd:enumeration value="statvolt"/>
					<xsd:enumeration value="statwatt"/>
					<xsd:enumeration value="statweber"/>
					<xsd:enumeration value="stattesla"/>
					<xsd:enumeration value="long_ton"/>
					<xsd:enumeration value="short_ton"/>
					<xsd:enumeration value="gross_hundredweight"/>
					<xsd:enumeration value="hundredweight"/>
					<xsd:enumeration value="pound"/>
					<xsd:enumeration value="ounce"/>
					<xsd:enumeration value="dram"/>
					<xsd:enumeration value="troy_pound"/>
					<xsd:enumeration value="troy_ounce"/>
					<xsd:enumeration value="pennyweight"/>
					<xsd:enumeration value="apothecaries_dram"/>
					<xsd:enumeration value="scruple"/>
					<xsd:enumeration value="grain"/>
					<xsd:enumeration value="slug"/>
					<xsd:enumeration value="pound_force"/>
					<xsd:enumeration value="poundal"/>
					<xsd:enumeration value="kip"/>
					<xsd:enumeration value="ton_force"/>
					<xsd:enumeration value="kilogram_force"/>
					<xsd:enumeration value="inch"/>
					<xsd:enumeration value="foot"/>
					<xsd:enumeration value="yard"/>
					<xsd:enumeration value="mile"/>
					<xsd:enumeration value="survey_inch"/>
					<xsd:enumeration value="survey_foot"/>
					<xsd:enumeration value="survey_yard"/>
					<xsd:enumeration value="survey_fathom"/>
					<xsd:enumeration value="survey_rod"/>
					<xsd:enumeration value="survey_chain"/>
					<xsd:enumeration value="survey_link"/>
					<xsd:enumeration value="survey_furlong"/>
					<xsd:enumeration value="survey_mile"/>
					<xsd:enumeration value="acre"/>
					<xsd:enumeration value="imperial_gallon"/>
					<xsd:enumeration value="imperial_quart"/>
					<xsd:enumeration value="imperial_pint"/>
					<xsd:enumeration value="imperial_gill"/>
					<xsd:enumeration value="imperial_ounce"/>
					<xsd:enumeration value="gallon"/>
					<xsd:enumeration value="quart"/>
					<xsd:enumeration value="oint"/>
					<xsd:enumeration value="cup"/>
					<xsd:enumeration value="fill"/>
					<xsd:enumeration value="fluid_ounce"/>
					<xsd:enumeration value="fluid_dram"/>
					<xsd:enumeration value="minim"/>
					<xsd:enumeration value="tablespoon"/>
					<xsd:enumeration value="teaspoon"/>
					<xsd:enumeration value="bushel"/>
					<xsd:enumeration value="peck"/>
					<xsd:enumeration value="dry_quart"/>
					<xsd:enumeration value="dry_pint"/>
					<xsd:enumeration value="thermo_kg_calorie"/>
					<xsd:enumeration value="table_kg_calorie"/>
					<xsd:enumeration value="label_teaspoon"/>
					<xsd:enumeration value="label_tablespoon"/>
					<xsd:enumeration value="label_cup"/>
					<xsd:enumeration value="label_fluid_ounce"/>
					<xsd:enumeration value="label_ounce"/>
					<xsd:enumeration value="horsepower"/>
					<xsd:enumeration value="electric_horsepower"/>
					<xsd:enumeration value="boiler_horsepower"/>
					<xsd:enumeration value="metric_horsepower"/>
					<xsd:enumeration value="water_horsepower"/>
					<xsd:enumeration value="uk_horsepower"/>
					<xsd:enumeration value="fahrenheit"/>
					<xsd:enumeration value="rankine"/>
					<xsd:enumeration value="atmosphere"/>
					<xsd:enumeration value="technical_atmosphere"/>
					<xsd:enumeration value="mm_Hg"/>
					<xsd:enumeration value="cm_Hg"/>
					<xsd:enumeration value="0C_cm_Hg"/>
					<xsd:enumeration value="in_Hg"/>
					<xsd:enumeration value="32F_in_Hg"/>
					<xsd:enumeration value="60F_in_Hg"/>
					<xsd:enumeration value="ft_Hg"/>
					<xsd:enumeration value="mm_water"/>
					<xsd:enumeration value="cm_water"/>
					<xsd:enumeration value="4C_cm_water"/>
					<xsd:enumeration value="in_water"/>
					<xsd:enumeration value="39F_in_water"/>
					<xsd:enumeration value="60F_in_water"/>
					<xsd:enumeration value="ft_water"/>
					<xsd:enumeration value="39F_ft_water"/>
					<xsd:enumeration value="light_year"/>
					<xsd:enumeration value="parsec"/>
					<xsd:enumeration value="printers_pica"/>
					<xsd:enumeration value="computer_pica"/>
					<xsd:enumeration value="printers_point"/>
					<xsd:enumeration value="computer_point"/>
					<xsd:enumeration value="thermo_btu"/>
					<xsd:enumeration value="table_btu"/>
					<xsd:enumeration value="mean_btu"/>
					<xsd:enumeration value="39F_btu"/>
					<xsd:enumeration value="59F_btu"/>
					<xsd:enumeration value="60F_btu"/>
					<xsd:enumeration value="tons_of_tnt"/>
					<xsd:enumeration value="ec_therm"/>
					<xsd:enumeration value="us_therm"/>
					<xsd:enumeration value="year_365"/>
					<xsd:enumeration value="tropical_year"/>
					<xsd:enumeration value="sidereal_year"/>
					<xsd:enumeration value="sidereal_day"/>
					<xsd:enumeration value="sidereal_hour"/>
					<xsd:enumeration value="sidereal_minute"/>
					<xsd:enumeration value="sidereal_second"/>
					<xsd:enumeration value="shake"/>
					<xsd:enumeration value="item"/>
					<xsd:enumeration value="denier"/>
					<xsd:enumeration value="tex"/>
					<xsd:enumeration value="gon"/>
					<xsd:enumeration value="nato_mil"/>
					<xsd:enumeration value="pound_mole"/>
					<xsd:enumeration value="ton_refrigeration"/>
					<xsd:enumeration value="circular_mil"/>
					<xsd:enumeration value="bel"/>
					<xsd:enumeration value="neper"/>
					<xsd:enumeration value="pH"/>
					<xsd:enumeration value="petro_barrel"/>
					<xsd:enumeration value="footlambert"/>
					<xsd:enumeration value="footcandle"/>
					<xsd:enumeration value="carat"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute ref="prefix"/>
		<xsd:attribute ref="powerNumerator"/>
		<xsd:attribute ref="powerDenominator"/>
	</xsd:complexType>
	<xsd:complexType name="ExternalRootUnitType">
		<xsd:annotation>
			<xsd:documentation>Type for the element for those special cases where the root unit needed is not included in the enumerated list in the above element.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="unit" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Unit identifier.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="source" type="xsd:anyURI" use="required">
			<xsd:annotation>
				<xsd:documentation>URI identifying the source and possibly the definition of the unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="annotation" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Optional unit annotation; e.g., a unit name if the unit identifier above is an uncommon code.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lang" type="xsd:language">
			<xsd:annotation>
				<xsd:documentation>Primary language of the source and annotation.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute ref="prefix"/>
		<xsd:attribute ref="powerNumerator"/>
		<xsd:attribute ref="powerDenominator"/>
	</xsd:complexType>
	<xsd:complexType name="ConversionsType">
		<xsd:annotation>
			<xsd:documentation>Type for the container for providing conversion information to other units.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Float64ConversionFrom" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element for providing factors for a conversion equation to another unit; y = d + ((b / c) (x + a)). Note: The related "conversion to" equation is a simple inversion of the above equation; i.e., x = ((c / b) (y - d)) - a.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="SpecialConversion" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element for describing a conversion that cannot be described by the linear expression in the element Float64ConversionFrom.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Float64ConversionFromType">
		<xsd:annotation>
			<xsd:documentation>Type for the element for providing factors for a conversion equation to another unit; y = d + ((b / c) (x + a))</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ConversionNote" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:token">
			<xsd:annotation>
				<xsd:documentation>Allows reference to this conversion.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="initialUnit" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>URI indicating the ID (a.k.a
alphanumericID) of the starting unit for the conversion. For units which are defined in the same
document, the URI should consist of a pound sign (#) followed by the ID value.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="initialAddend" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation>Number to be added at the start of the conversion (prior to multiplication or division) [factor 'a' in equation].</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="initialAddendU95UncertaintyRadius" type="xsd:double">
			<xsd:annotation>
				<xsd:documentation>U95 uncertainty radius for initial addend.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="initialAddendDecimalPlace" type="xsd:byte">
			<xsd:annotation>
				<xsd:documentation>Indicates the position of the least
significant digit (in decimal) of
the initialAddend; the position of
this digit is given by ten to
additive inverse of this number.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicand" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation>Number by which to multiply sum of initial addend and initial value [factor 'b' in equation].</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicandU95UncertaintyRadius" type="xsd:double">
			<xsd:annotation>
				<xsd:documentation>U95 uncertainty radius for multiplicand.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="multiplicandDigits" type="xsd:unsignedByte">
			<xsd:annotation>
				<xsd:documentation>Number of significant digits in the multiplicand value.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="divisor" type="xsd:double" default="1">
			<xsd:annotation>
				<xsd:documentation>Divisor to be applied to the value at the same time as the multiplicand [factor 'c' in equation].</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="divisorU95UncertaintyRadius" type="xsd:double">
			<xsd:annotation>
				<xsd:documentation>U95 uncertainty radius for divisor.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="divisorDigits" type="xsd:unsignedByte">
			<xsd:annotation>
				<xsd:documentation>Number of significant digits in the divisor value.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="finalAddend" type="xsd:double" default="0">
			<xsd:annotation>
				<xsd:documentation>Number to be added at the end of the conversion [factor 'd' in equation].</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="finalAddendU95UncertaintyRadius" type="xsd:double">
			<xsd:annotation>
				<xsd:documentation>U95 uncertainty radius for final addend.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="finalAddendDecimalPlace" type="xsd:byte">
			<xsd:annotation>
				<xsd:documentation>Indicates the position of the least
significant digit (in decimal) of
the finalAddend; the position of
this digit is given by ten to
additive inverse of this number.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="exact" type="xsd:boolean" default="false">
			<xsd:annotation>
				<xsd:documentation>Indicates if the conversion is exact.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="CodeListValuesType">
		<xsd:annotation>
			<xsd:documentation>Type for the container for listing unit code values from multiple code lists.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CodeListValue" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CodeListValueType">
		<xsd:annotation>
			<xsd:documentation>Type for the element for listing the unit code value from a specific code list.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="unitCodeValue" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>The code associated for this unit in a specific code list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="codeListName" type="xsd:normalizedString">
			<xsd:annotation>
				<xsd:documentation>The name of the code list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="version" type="xsd:token">
			<xsd:annotation>
				<xsd:documentation>The version of the code list containing the unit code.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="locationURI" type="xsd:anyURI">
			<xsd:annotation>
				<xsd:documentation>Suggested retrieval location for this version.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="agencyName" type="xsd:normalizedString">
			<xsd:annotation>
				<xsd:documentation>Agency responsible for publication and/or maintenance of the code list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="agencyURI" type="xsd:anyURI">
			<xsd:annotation>
				<xsd:documentation>URI for agency responsible for the code list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lang" type="xsd:language">
			<xsd:annotation>
				<xsd:documentation>Primary language associated with the code list.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="UnitReferenceType">
		<xsd:annotation>
			<xsd:documentation>Type for the element for referencing a unit of measure from within the Quantity element.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="alphanumericID" type="xsd:token">
			<xsd:annotation>
				<xsd:documentation>Alphanumeric ID of a unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="symbolicID" type="xsd:token">
			<xsd:annotation>
				<xsd:documentation>Symbolic ID is a unique abbreviation of a unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitName" type="xsd:token">
			<xsd:annotation>
				<xsd:documentation>Name of the unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="lang" type="xsd:language">
			<xsd:annotation>
				<xsd:documentation>Language of the unitName.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SpecialConversionType">
		<xsd:sequence>
			<xsd:element ref="Description" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Description of the conversion.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="ID" type="xsd:token">
			<xsd:annotation>
				<xsd:documentation>Allows reference to this conversion.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
