unitsml/unitsml-v0.9.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Units Markup Language (UnitsML) Schema
    Website: http://unitsml.nist.gov
    Version History: http://unitsml.nist.gov/Schema/schema_changes.txt
-->
<xsd:schema xmlns="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:oasis:names:tc:unitsml:schema:xsd:UnitsMLSchema-0.9.2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.9.2">
	<!--=== Root-Node of an UnitsML document ===-->
	<xsd:element name="UnitsML" type="UnitsMLType">
		<xsd:annotation>
			<xsd:documentation>Container for UnitsML units, quantities, and prefixes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UnitsMLType">
		<xsd:annotation>
			<xsd:documentation>ComplexType for the root element of an UnitsML document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="UnitSet" minOccurs="0"/>
			<xsd:element ref="PrefixSet" minOccurs="0"/>
			<xsd:element ref="QuantitySet" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--=== Global document elements ===-->
	<xsd:element name="ConversionFactor" type="ConversionFactorType">
		<xsd:annotation>
			<xsd:documentation>Container for describing unit conversion.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Definition" type="DefinitionType">
		<xsd:annotation>
			<xsd:documentation>Element to describe the definition of the unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Dimension" type="DimensionType">
		<xsd:annotation>
			<xsd:documentation>Element to express the quantity in terms of the SI base quantities length, mass, time, electric current, thermodynamic temperature, amount of substance, and luminous intensity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="History" type="HistoryType">
		<xsd:annotation>
			<xsd:documentation>Element to describe the historical development of the unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Prefix" type="PrefixType">
		<xsd:annotation>
			<xsd:documentation>Element for describing a unit prefix.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrefixName" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Element containing the prefix name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PrefixSet" type="PrefixSetType">
		<xsd:annotation>
			<xsd:documentation>Container for prefixes.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Quantity" type="QuantityType">
		<xsd:annotation>
			<xsd:documentation>Element for describing quantities and container for corresponding units. Use in container or directly incorporate into a host schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityName" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Element containing the quantity name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantityReference" type="QuantityReferenceType">
		<xsd:annotation>
			<xsd:documentation>Element for all quantities that can be expressed using this unit.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="QuantitySet" type="QuantitySetType">
		<xsd:annotation>
			<xsd:documentation>Container for quantities.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Remark" type="RemarkType">
		<xsd:annotation>
			<xsd:documentation>Element as a placeholder for additional information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Representation" type="RepresentationType">
		<xsd:annotation>
			<xsd:documentation>Container for representing a unit in terms of other units.  For example 1 in = 2.54E-02 m.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="System" type="SystemType">
		<xsd:annotation>
			<xsd:documentation>Container for describing the system of units.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Symbol" type="SymbolType">
		<xsd:annotation>
			<xsd:documentation>Element containing various unit symbols.  Examples include Aring (ASCII), Å (HTML).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Unit" type="UnitType">
		<xsd:annotation>
			<xsd:documentation>Element for describing units. Use in containers UnitSet, Quantity, or directly incorporate into a host schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitName" type="NameType">
		<xsd:annotation>
			<xsd:documentation>Element containing the unit name.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitRepresentation" type="UnitRepresentationType">
		<xsd:annotation>
			<xsd:documentation>Element for a single representational unit. Complex representation with multiple units is represented with multiple instances of this element.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitSet" type="UnitSetType">
		<xsd:annotation>
			<xsd:documentation>Container for units. Use in UnitML container or directly incorporate into a host schema.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Length" type="LengthType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity length.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Mass" type="MassType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity mass.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Time" type="TimeType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity time.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElectricCurrent" type="ElectricCurrentType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity electric current.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ThermodynamicTemperature" type="ThermodynamicTemperatureType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity thermodynamic temerature.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AmountSubstance" type="AmountSubstanceType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity amount of substance.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LuminousIntensity" type="LuminousIntensityType">
		<xsd:annotation>
			<xsd:documentation>Element containing the dimension of the quantity luminous intensity.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UnitNote" type="NoteType">
		<xsd:annotation>
			<xsd:documentation>Element for descriptive information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ConversionNote" type="NoteType">
		<xsd:annotation>
			<xsd:documentation>Element for descriptive information.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!--=== Type definitions ===-->
	<xsd:complexType name="ConversionFactorType">
		<xsd:annotation>
			<xsd:documentation>Type for conversion factor.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ConversionNote" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="multiplicativeValue" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Multiplicative value to convert one unit to another.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="additiveValue" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Additive value to convert one unit to another.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="DefinitionType">
		<xsd:annotation>
			<xsd:documentation>Type for definition.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>URL for an online reference of the unit definition.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="source" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of the publication containing the unit definition.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DimensionType">
		<xsd:annotation>
			<xsd:documentation>Type for dimension.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Length" minOccurs="0"/>
			<xsd:element ref="Mass" minOccurs="0"/>
			<xsd:element ref="Time" minOccurs="0"/>
			<xsd:element ref="ElectricCurrent" minOccurs="0"/>
			<xsd:element ref="ThermodynamicTemperature" minOccurs="0"/>
			<xsd:element ref="AmountSubstance" minOccurs="0"/>
			<xsd:element ref="LuminousIntensity" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NoteType">
		<xsd:annotation>
			<xsd:documentation>Type for notes.  Used in units and conversion factors.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LengthType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity length.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="L">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity length.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="MassType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity mass.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="M">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity mass.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TimeType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity time.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="T">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity time.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ElectricCurrentType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity electric current.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="I">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity electric current.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ThermodynamicTemperatureType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity thermodynamic temperature.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="Θ">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity thermodynamic temperature.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AmountSubstanceType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity amount of substance.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="N">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity amount of substance.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LuminousIntensityType">
		<xsd:annotation>
			<xsd:documentation>Type of the quantity luminous intensity.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:byte">
				<xsd:attribute name="symbol" type="xsd:string" use="optional" fixed="J">
					<xsd:annotation>
						<xsd:documentation>Symbol of the quantity luminous intensity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="HistoryType">
		<xsd:annotation>
			<xsd:documentation>Type for history.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>URL for an online reference for the historical development of the unit definition.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="source" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of the publication containing the unit history.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="NameType">
		<xsd:annotation>
			<xsd:documentation>Type for name.  Used for names in units, quantities, and prefixes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="lang" type="xsd:language" use="required">
					<xsd:annotation>
						<xsd:documentation>Language of the containing name.  An example is en-US for American English.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="PrefixType">
		<xsd:annotation>
			<xsd:documentation>Type for prefix.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="PrefixName" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element containing various prefix symbols.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="prefixID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Numerical id of a prefix.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="prefixSystem" use="required">
			<xsd:annotation>
				<xsd:documentation>Name of the prefix system.  Either SI or binary.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="SI"/>
					<xsd:enumeration value="binary"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
		<xsd:attribute name="base" use="required">
			<xsd:annotation>
				<xsd:documentation>Number system base. Either base 2 or 10 .</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:byte">
					<xsd:enumeration value="10"/>
					<xsd:enumeration value="2"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
		<xsd:attribute name="power" use="required">
			<xsd:annotation>
				<xsd:documentation>An integer exponent which describes the factor of the prefix.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:byte">
					<xsd:minInclusive value="-24"/>
					<xsd:maxInclusive value="60"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="PrefixSetType">
		<xsd:annotation>
			<xsd:documentation>Type for the prefix container.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Prefix" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantityType">
		<xsd:annotation>
			<xsd:documentation>Type for the quantity.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="QuantityName" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Element containing various quantity symbols.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="Dimension"/>
			<xsd:element ref="Unit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="quantityID" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation>Numerical id of a quantity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="quantityType" use="required">
			<xsd:annotation>
				<xsd:documentation>Type of the quantity.  For example base or derived.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="base"/>
					<xsd:enumeration value="derived"/>
				</xsd:restriction>
			</xsd:simpleType>
			<!-- REVISE -->
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantityReferenceType">
		<xsd:annotation>
			<xsd:documentation>Type for the quantity reference.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="quantityID" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>numericID of the related quantity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="name" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>name of the related quantity.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="QuantitySetType">
		<xsd:annotation>
			<xsd:documentation>Type for quantity container.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Quantity" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RemarkType">
		<xsd:annotation>
			<xsd:documentation>Type for remark.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="href" type="xsd:anyURI" use="optional">
					<xsd:annotation>
						<xsd:documentation>Relevant URL for on-line information.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="source" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation>Name of publication.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="RepresentationType">
		<xsd:annotation>
			<xsd:documentation>Type for representation in the element unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ConversionFactor" minOccurs="0"/>
			<!-- formerly units under Representation >> units -->
			<xsd:element ref="UnitRepresentation" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:byte" use="required">
			<xsd:annotation>
				<xsd:documentation>Small integer value used to distinguish between different representations; id=0 is reserved for the representation in terms of SI base units.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SystemType">
		<xsd:annotation>
			<xsd:documentation>Type for unit system.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:token" use="required">
			<xsd:annotation>
				<xsd:documentation>Name of the unit system.   For example, SI, inch-pound, CGS, and MKS.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="type" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>Description of the unit relative to the unit system.  Examples are SI_base and non-SI_not_acceptable.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SymbolType">
		<xsd:annotation>
			<xsd:documentation>Type for symbols.  Used in units, quantities, and prefixes.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="type" use="required">
					<xsd:annotation>
						<xsd:documentation>Type of symbol representation.  Examples include ASCII, HTML, and MathML.</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:token">
							<xsd:enumeration value="ASCII"/>
							<xsd:enumeration value="HTML"/>
							<xsd:enumeration value="MathML"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="UnitType">
		<xsd:annotation>
			<xsd:documentation>Type for the unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Prefix" minOccurs="0"/>
			<xsd:element ref="System" maxOccurs="unbounded"/>
			<xsd:element ref="Symbol" maxOccurs="unbounded"/>
			<xsd:element ref="UnitName" maxOccurs="unbounded"/>
			<xsd:element ref="UnitNote" minOccurs="0"/>
			<xsd:element ref="Representation" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="QuantityReference" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Definition" minOccurs="0"/>
			<xsd:element ref="History" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="Remark" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="numericID" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Numerical id of a unit. Although both numericID and symbolicID are optional, it is intended that either one or both be specified so that each unit is uniquely identified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="symbolicID" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>Symbolic id is a unique abbreviation of a unit.   Although both numericID and symbolicID are optional, it is intended that either one or both be specified so that each unit is uniquely identified.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="powerNumerator" type="xsd:byte" use="optional">
			<xsd:annotation>
				<xsd:documentation>An integer exponent of the unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="powerDenominator" type="xsd:byte" use="optional">
			<xsd:annotation>
				<xsd:documentation>An integer value divided into the powerNumerator to create a non integer exponent of a unit.  For example 1/2.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="UnitRepresentationType">
		<xsd:annotation>
			<xsd:documentation>Type for the unit representation in the element unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="prefixReference" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>numericID of the prefix of the represented unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="unitReference" type="xsd:string" use="required">
			<xsd:annotation>
				<xsd:documentation>numericID of the representational unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="powerNumerator" type="xsd:byte" use="optional">
			<xsd:annotation>
				<xsd:documentation>An integer exponent of the unit.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="powerDenominator" type="xsd:byte" use="optional">
			<xsd:annotation>
				<xsd:documentation> An integer value divided into the powerNumerator to create a non integer exponent of a unit.  For example 1/2.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="UnitSetType">
		<xsd:annotation>
			<xsd:documentation>Type for the unit container.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Unit" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
